body > .ui-select-bootstrap.open {
    z-index: 1100; /* greater then ui bootstrap modal, that 1050 */
}
.ui-select-bootstrap .ui-select-match-text {
    padding-right: 2em;
}
.ui-select-placeholder{
    padding-right: 2em;
}
.colfixleft
{

    margin-left: -15px;
}
.colfixright
{
    margin-right: -15px;
}
.pad-0 {
    padding: 0px;
}
pb-5{
    padding-bottom: 5px;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-left-5 {
    padding-left: 5px;
}

.pad-right-5 {
    padding-right: 5px;
}
.pr-10{
    padding-right: 10px;
}
.mb-0 {
    margin-bottom: 0px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15{
    margin-right:15px !important;
}

.mt-5 {
    margin-top: 5px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mr-5{
    margin-right: 5px !important;
}
.ml-neg-10{
    margin-left:-10px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px;
}
.mb-5{
    margin-bottom: 5px !important;
}

.ml-0{
    margin-left:0px !important;
}
.mr-0{
    margin-right:0px !important;
}

.pt-8
{
    padding-top: 8px !important;
}
.pt-10
{
    padding-top: 10px !important;
}
.pt-15
{
    padding-top: 15px !important;
}

.pb-0{
    padding-bottom: 0px !important;
}
.pt-0{
    padding-top: 0px !important;
}
.mt-0{
    margin-top: 0px !important;
}
.pl-0{
    padding-left: 0px !important;
}
.pr-0{
    padding-right: 0px !important;
}
.pb-5{
    padding-bottom: 5px !important;
}
.mar0{
    margin: 0 !important;
}
.kw-text-right{
    text-align: right !important;

}
.kw-text-left
{
    text-align: left !important;
}
.kw-panel-toolbar {
    margin-top: -6px;
    margin-right: -15px;
}

.kw-panel-toolbar .btn {
    font-size: 12px;
}

.kw-panel-toolbar .dropdown-menu li a {
    font-size: 12px;
}

.kw-panel-toolbar .badge {
    display: inline;
    font-size: 10px;
}
.team_card_member{
    position: absolute;
    top: 100px;
}
.team_card_assignee{
    position: absolute;
    top: 65px;
}
.panel-heading {
    padding: 6px 15px;
    font-weight: 600;
    font-size: 14px;
}

.kw-more {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em;
}
.list-group{
    margin-bottom: 0px;
}
.b {
    font-weight: 700;
}

/*RESPONSIVE TABLE WITH CSS*/
/*@import-http://fonts.googleapis.com/css?family=Montserrat:300,400,700;*/

.rwd-table {
      width: 100%;
}

.rwd-table tr {
    /* border-top: 1px solid #ddd; */
    /* border-bottom: 1px solid #ddd; */
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) " ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: -1px;
    }

    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}

/* END OF RESPONSIVE TABLE WITH CSS*/



.ui-select-bootstrap .ui-select-match-text {
    padding-right: 2em;
}
.ui-select-placeholder{
    padding-right: 2em;
}
